<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1045732231996-8cre1lanoeql95d31cc0udpoi0svoo7o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1045732231996-8cre1lanoeql95d31cc0udpoi0svoo7o</string>
	<key>API_KEY</key>
	<string>AIzaSyATRfe__vn1t0Jx1m82B4ysN_FtrAfffwU</string>
	<key>GCM_SENDER_ID</key>
	<string>1045732231996</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ltejada.PelinaBeer</string>
	<key>PROJECT_ID</key>
	<string>peelina-beer</string>
	<key>STORAGE_BUCKET</key>
	<string>peelina-beer.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1045732231996:ios:5a001d2c31a0930d7b2c39</string>
	<key>DATABASE_URL</key>
	<string>https://peelina-beer.firebaseio.com</string>
</dict>
</plist>